.H1p {
  text-align: center;
  background-color: #474e5e;
  color: #fff;
  padding: 10px 0 1rem 0;
}

.OurTeam {
  text-align: center;
}

.threeCard {
  margin-bottom: 2rem;
}

@media (max-width: 576px) {
  .threeCard {
    margin: 0 8px 0 8px;
  }
}

.email {
  text-decoration: none;
  color: #000;
}
