.container2 {
  display: flex;
  border: 1px solid #f5f1e8;
  background-color: #f5f1e8;
  margin: 2rem 1rem 1rem 1rem;
}

.verticalLine {
  border-right: 1px solid grey;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 1rem 0 1rem 0;
}

.liOne {
  font-size: 20px;
  width: max-content;
}

.text * {
  padding-left: 2rem;
  padding-right: 2rem;
}

.help {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.center {
  text-align: center;
}

.endButton {
  margin: 1rem 1rem;
  text-align: center;
}

@media (max-width: 576px) {
  .container2 {
    display: block;
  }
  .verticalLine {
    border-bottom: 1px solid grey;
    border-right: 1px solid #f5f1e8;
    margin: 0 1rem 0 1rem;
  }
  .container {
    display: block;
    width: 600px;
    margin: 0 3rem 0 2rem;
  }
}
