.container {
  display: flex;
}

.image {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.info {
  width: 50%;
  background-color: red;
  text-align: center;
}

.h {
  padding-left: 20px;
}

.container2 {
  display: flex;
  border: 1px solid #f5f1e8;
  background-color: #f5f1e8;
  margin: 2rem 1rem 1rem 1rem;
}

.verticalLine {
  border-right: 1px solid grey;
  padding-left: 1rem;
  padding-right: 1rem;
}

.liOne {
  font-size: 20px;
  width: max-content;
}

.text * {
  padding-left: 2rem;
  padding-right: 2rem;
}

.help {
  text-align: center;
}

.threeCard {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.threeCard .card1,
.card2,
.card3 {
  background-color: gray;
  padding: 10px 10px 25px 10px;
  text-align: center;
}
