.container {
  display: flex;
}

.image {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.info {
  width: 50%;
  background-color: red;
  text-align: center;
}

.verticalLine {
  width: 1px; /* Ширина линии */
  height: 100px; /* Высота линии */
  background-color: black; /* Цвет линии */
}

.h {
  padding-left: 20px;
}
.liOne {
  text-decoration: none;
}
